{% extends 'base.html.twig' %}

{% block title %} Cart {% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Cart</h1>
    {% if products|length %}
        <div class="row">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, product in products %}
                        {% if product['quantity'] > 0 %}
                            <tr class="product_{{ key }}">
                                <td>{{ product['name'] }}</td>
                                <td class="price_{{ key }}">{{ product['price'] }} €</td>
                                <td>
                                    <a onclick="addItem({{ key }});" class="btn btn-success btn-sm">+</a>
                                        <span class="quantity_{{ key }}">{{ product['quantity'] }}</span>
                                    <a onclick="removeItem({{ key }});" class="btn btn-danger btn-sm">-</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row float-right">
            {# {% if total['items'] == 0 %}
                Total: <span class="total_price">0</span> €
            {% else %}
                Total: <span class="total_price">{{ total['price'] }}</span> €
            {% endif %} #}
            Total: <span class="total_price">{{ total['price'] }}</span> €
        </div>
    {% else %}
        <div>No products</div>
    {% endif %}
</div>
{% endblock %}
